{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<header class="site-header outer border-primary-top">
    <div class="inner-header">
        <nav class="site-nav">
            <div class="site-nav-left">
                <a class="site-nav-logo" href="{{@site.url}}" aria-label="{{@site.title}}">
                    <img src="{{@site.logo}}">
                </a>
            </div>
            <div class="inner-header">
                <div class="category-holder">
                    <ul class="nav category-nav pull-left">
                        <li class="nav-tag"><a href="/tag/exclusives/" title="Exclusive">Exclusive</a></li>
                        <li class="nav-tag"><a href="/tag/news/" title="News">News</a></li>
                        <li class="nav-tag"><a href="/tag/devices/" title="Devices">Devices</a></li>
                        <li class="nav-tag"><a href="/tag/how-to/" title="How-To">How-To</a></li>
                        <li class="nav-tag"><a href="/tag/technology/" title="Technology">Technology</a></li>
                        <li class="nav-tag"><a href="/tag/apps/" title="Apps & Software">Apps & Software</a></li>
                        <li>
                            <a href="/categories">
                                <span style="margin-left:0.5rem;">More...</span>
                            </a>
                        </li>
                    </ul>
                    <a class="search-btn no-decoration pull-right" href="#ghosteasybar">
                        <span style="color: white;">
                            <i class="fas fa-search fa-lg"></i>
                        </span>
                    </a>
                    <a class="category-search no-decoration category-xs" href="/categories">
                        <span style="margin-right:1.5rem;"><i class="fas fa-bars fa-2x"></i></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>

{{#author}}
{{!-- Everything inside the #author tags pulls data from the author --}}




{{> header-background background=cover_image}}
{{!--Special header-image.hbs partial to generate the background image--}}
<div class="inner">
    <div class="site-header-content author-header">
        {{#if profile_image}}
        <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
        {{else}}
        <span class="author-profile-image">{{> "icons/avatar"}}</span>
        {{/if}}
        <div class="author-header-content">
            <h1 class="site-title">{{name}}</h1>
            {{#if bio}}
            <h2 class="author-bio">{{bio}}</h2>
            {{/if}}
            <div class="author-meta">
                {{#if location}}
                <div class="author-location">{{location}}</div>
                {{/if}}
                <div class="author-stats">
                    {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
                </div>
                {{#if website}}
                <span class="author-social-link"><a href="{{website}}" target="_blank" rel="noopener">Website</a></span>
                {{/if}}
                {{#if twitter}}
                <span class="author-social-link"><a href="{{twitter_url}}" target="_blank"
                        rel="noopener">Twitter</a></span>
                {{/if}}
                {{#if facebook}}
                <span class="author-social-link"><a href="{{facebook_url}}" target="_blank"
                        rel="noopener">Facebook</a></span>
                {{/if}}
            </div>
        </div>
    </div>
</div>
</div>

{{/author}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>