<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/podcast/icon2.png"}}" />
    <meta name="theme-color" content="#35cb67" />
    <title> Podcast | Android වැඩකාරයෝ </title>

    <meta name="description" content="Android වැඩකාරයෝ Podcast">
    <meta name="keywords" content="Android වැඩකාරයෝ Podcast">
    <meta name="author" content="Android වැඩකාරයෝ">

    <meta itemprop="name" content="Android වැඩකාරයෝ Podcast">
    <meta itemprop="description" content="Android වැඩකාරයෝ Podcast">
    <meta itemprop="image" content="{{asset "images/podcast/social.png"}}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@https://androidwedakarayo.com/">
    <meta name="twitter:title" content="Android වැඩකාරයෝ Podcast">
    <meta name="twitter:description" content="Android වැඩකාරයෝ Podcast">
    <meta name="twitter:creator" content="@Android වැඩකාරයෝ">
    <meta name="twitter:image:src" content="{{asset "images/podcast/social.png"}}">

    <meta property="og:title" content="Android වැඩකාරයෝ Podcast"/>
    <meta property="og:description" content="Android වැඩකාරයෝ Podcast"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://androidwedakarayo.com/"/>
    <meta property="og:site_name" content="androidwedakarayo.com/"/>
    <meta property="og:image" content="{{asset "images/podcast/social.png"}}"/>

    <link rel="apple-touch-icon" href="{{asset "images/podcast/logo192.png"}}" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/podcast.css"}}" />

</head>
<body >
    <section class="section-hero">
        <div class="container">
            <div class="section--cover">
                <div class="cover-art">
                    <img src="{{asset "images/podcast/logo.jpg"}}" alt="" />
                </div>
                <div class="cover-content">
                    <h1>Android වැඩකාරයෝ</h1>
                    <p>
                        <strong>A Tech Podcast</strong>
                        <a href="https://androidwedakarayo.com/">
                            Visit our Blog
                            <img src="{{asset "images/podcast/icon2.png"}}" alt="logo icon" />
                        </a>
                    </p>
                </div>
            </div>
        </Container>
    </section>
    <section class="section-episode">
        <div class="container">
            <div class="episode--list" id="episode">
                {{!-- <div class="episode--list__item">
                    <div class="episode--image">
                        <div class="image-inner">
                            <img alt="" src="{{asset "images/podcast/logo.jpg"}}"/>
                        </div>
                    </div>
                    <div class="episode--content">
                        <h5></h5>
                        <div class="content"></div>
                    </div>
                    <div class="episode--link">
                        <a target="_blank" rel="noopener noreferrer" href=""  class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM7 6l8 4-8 4V6z"></path>
                            </svg>
                            <span>Listen Now</span>
                        </a>
                    </div>
                </div> --}}
            </div>
        </div>
    </section>
    <section>
          <div class="container">
            <div class="footer-section">
                <p>Made with ❤ by Podcasts.lk</p>
            </div>
          </div>
    </section>
    {{!-- jQuery, required for fitvids --}}
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src="{{asset "js/podcast.js"}}"></script>
</body>
</html>
